{
  "DEBUG": true,
  "DATABASE": {
    "PSQL": {
      "HOST": "localhost",
      "PORT": "5432",
      "DATABASE": "echodb",
      "USERNAME": "dbadmin",
      "PASSWORD": "1234",
      "MAX_OPEN_CONNECTION": 10,
      "MAX_IDLE_CONNECTION": 5,
      "MAX_LIVE_TIME": 10,
      "QUERY_FETCH_TIMEOUT" : 30000,
      "QUERY_EXEC_TIMEOUT" : 15000,
      "SSL_MODE": "disable"
    }
  },
  "JWT_SECRET_KEY": "1234testing!$",
  "APP_PORT": "5003",
  "APP_RTO": 30,
  "APP_WTO": 30
}